{% extends 'layout.html' %}


{% block content %}
    <div class="row">
        <div class="hero-unit span4 offset4" id="about">
            <h1>friendblur</h1>
            <p>A quick game of friendly recognition</p>
            <p><a href="/play/" class="btn btn-large btn-primary">Sign in with Facebook and Play</a></p>
        </div>
    </div>
    <div class="row">
        <div class="span4 offset4" id="about-blurb">
            <p>Friendblur tests how well you can recognize your friends, based on their Facebook profile picture. You will be given 16 seconds to identify three of your friends. Think you can handle it?</p>
            <p><span class="label label-info">Info</span> Because of the Facebook profiles, Friendblur requires that you sign-in using Facebook. Friendblur does not save any of your information &mdash; there's no database, even.</p>
            <p>This game uses some newer browser features, so it probably works best on newer versions of Chrome, Firefox and Internet Explorer.</p>
        </div>
    </div>
{% endblock %}