{% extends 'layout.html' %}


{% block scripts %}
    <script type="text/javascript" src="/public/js/lib/json2.js"></script>
    <script type="text/javascript" src="/public/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/lib/underscore.js"></script>
    <script type="text/javascript" src="/public/js/lib/backbone.js"></script>
    <script type="text/javascript" src="/public/js/friendblur.js"></script>
{% endblock %}


{% block content %}
    <p id="userName"></p>
{% endblock %}