{% extends 'layout.html' %}


{% block scripts %}
    <script type="text/javascript" src="/public/js/lib/json2.js"></script>
    <script type="text/javascript" src="/public/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/lib/blur.js"></script>
    <script type="text/javascript" src="/public/js/lib/underscore.js"></script>
    <script type="text/javascript" src="/public/js/lib/backbone.js"></script>
    <script type="text/javascript" src="/public/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/lib/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/public/js/lib/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src="/public/js/friendblur.min.js"></script>
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>friendblur</h1>
    </div>
    
    <div class="row">
        <div class="span12">
            <h1 id="round-timer"></h1>
        </div>
    </div>
    
    <div class="row">
        <div class="span4 control-group" id="search-container1">
            <form class="form-search">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-search result-icon"></i></span><input type="text" id="guess-input1" class="search-query" />
                </div>
            </form>
            <h2 id="friend-name1"></h2>
        </div>
        <div class="span4 control-group" id="search-container2">
            <form class="form-search">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-search result-icon"></i></span><input type="text" id="guess-input2" class="search-query" />
                </div>
            </form>
            <h2 id="friend-name2"></h2>
        </div>
        <div class="span4 control-group" id="search-container3">
            <form class="form-search">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-search result-icon"></i></span><input type="text" id="guess-input3" class="search-query" />
                </div>
            </form>
            <h2 id="friend-name3"></h2>
        </div>
    </div>
    
    <div class="row">
        <img class="span4" id="image-destination1" />
        <img class="span4" id="image-destination2" />
        <img class="span4" id="image-destination3" />
    </div>
    
    <div>
        <div id="image-source1"></div>
        <div id="image-source2"></div>
        <div id="image-source3"></div>
    </div>
    
    <div class="modal hide fade" id="success-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Success! Good job!</h3>
        </div>
        <div class="modal-body">
            <p>You were able to identify all three of the randomly selected friends. That's no easy task. Good job!</p>
            <p>If you enjoyed this simple game then maybe your friends will, too! Please, <a name="fb_share" type="icon_link" share_url="http://friendblur.com" href="">share it with them</a>.</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" id="play-again" data-dismiss="modal">Play Again</a>
            <a href="#" class="btn btn-primary" name="fb_share" id="share-facebook" share_url="http://friendblur.com">Share on Facebook</a>
        </div>
    </div>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
{% endblock %}