
#image-source1, #image-source2, #image-source3 {
    display: none;
}

#image-destination1, #image-destination2, #image-destination3 {
    border-radius: 3px;
}

#search-container1, #search-container2, #search-container3 {
    text-align: center;
}

#round-timer {
    text-align: center;
    margin-bottom: 20px;
}

#about {
    text-align: center;
}

#about-blurb {
    padding: 10px;
    margin-top: 20px;
}

#about-blurb p {
    margin-bottom: 20px;
}

.faceborder {
    padding: 10px;
    margin-top: 60px;
    border-radius: 6px;
    background-image: url('/public/img/border.png');
}

.hero-unit {
    margin-bottom: 0px;
}