<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>friendblur</title>
        
        <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-responsive.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/public/css/style.css" media="screen" />
        
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div> 
    </body>
</html>